.admin-home {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  color: white;
}

.table-responsive {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
}
.button {
  margin-right: 5px;
}
th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  font-size: 16px;
}

th:last-child,
td:last-child {
  border-right: none;
}

.button {
  background-color: black;
  color: white;
  cursor: pointer;
  border-style: solid;
  padding: 8px;
}

@media screen and (max-width: 768px) {
  .admin-home {
    margin: 0 auto;
    padding: 20px;
    max-width: 500px;
    color: white;
  }

  th,
  td {
    font-size: 14px;
    padding: 8px;
    border-right: 1px solid #ddd;
  }

  th:last-child,
  td:last-child {
    border-right: none;
  }
}

@media screen and (max-width: 300px) {
  .admin-home {
    margin: 0 auto;
    padding: 20px;
    max-width: 400px;
    color: white;
  }
  th,
  td {
    font-size: 12px;
    padding: 6px;
    border-right: 1px solid #ddd;
  }

  th:last-child,
  td:last-child {
    border-right: none;
  }
}
