.containerr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 400px;
}
.input-box {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-style: solid;
  width: 200px;
  margin-bottom: 20px;
}

.submit-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:disabled {
  display: inline-block;
  padding: 10px 20px;
  background-color: #969090;
  color: #fff;
  border-radius: 5px;
  cursor: none;
}

@media screen and (max-width: 800px) {
  .container {
    width: 400px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 300px;
  }
}

@media screen and (max-width: 300px) {
  .container {
    width: 200px;
  }
}
