.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 80%;
}

.signup-heading {
  margin-bottom: 30px;
  color: #fff;
  font-size: 24px;
}
.logo-container {
  position: absolute;
  top: 30px;
  left: 35px;
}
body {
  background-color: black;
}

.logo-image {
  width: 170px;
  height: 170px;
}

.signup-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: rgba(30, 30, 30, 0.5);
  border-radius: 10px;
  color: #fff;
}

.signup-button {
  padding: 12px 24px;
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.signup-button:hover {
  background-color: #333;
}

.login-link {
  margin-top: 10px;
  color: #999;
  font-size: 14px;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}

/* Responsive Styles */

@media screen and (max-width: 480px) {
  .signup-form {
    padding: 20px;
  }

  .signup-form input {
    width: 80%;
  }
}

@media screen and (max-width: 320px) {
  .signup-form {
    padding: 10px;
  }

  .signup-form input {
    width: 100%;
  }
}
