.product-page {
  color: black;
  display: flex;
  flex-wrap: wrap;
}

.product-page__carousel {
  flex: 1;
  display: flex;
  overflow-x: scroll;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.product-page__details {
  flex: 1;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.product-page__name {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-page__category,
.product-page__price,
.product-page__isbn {
  font-size: 16px;
  margin-bottom: 5px;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  max-width: 800px;
  margin-right: 10px;
}

.image {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.modal {
  font-family: arial;
}
.enter-review {
  margin-top: 25px;
}

.add-cart {
  margin-top: 25px;
}
.modal {
  position: fixed;
  width: 400px;
  z-index: 1040;
  top: 30%;
  left: 30%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.backdrop {
  position: fixed;
  z-index: 1040;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
}

.modal-title {
  font-weight: 500;
  font-size: 1.25rem;
}

.modal-header {
  border-bottom: 1px solid #e9ecef;
  display: flex;
  justify-content: space-between;
}

.modal-desc,
.modal-header,
.modal-footer {
  padding: 12px;
}

.close-button {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  border: none;
  background-color: white;
  opacity: 0.7;
  cursor: pointer;
}

button {
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
}

.modal-footer {
  border-top: 1px solid #e9ecef;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.secondary-button {
  color: #fff;
  background-color: #6c757d;
}

.primary-button {
  color: #fff;
  background-color: #007bff;
}

.modal-example {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 800px) {
  .product-page__details {
    padding: 10px;
  }

  .slider {
    min-width: 200px;
    max-width: 600px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .product-page__carousel {
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin: 0;
    padding: 0 10px;
  }

  .slider {
    min-width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .product-page__details {
    max-width: 100%;
  }

  .modal {
    top: 20%;
    left: 10%;
    width: 80%;
  }
}
